:root {
  /* :root is a clever way of saying "the outer-most element" */

  --box-color: #ff4545; /* the default */
  --widthDisplay: 7px;
  --theme-color: #337733;
}
*{
  margin:0;
}
/* footer {
  position: absolute;
  width: var(--widthDisplay);
  height: 50px;
  margin-top: 20px;
  background-color: var(--box-color);
} */
/* #iN{
  background-color: var(--footer-color);

} */
#widthSpan{
  position: absolute;
  width: var(--widthDisplay);
  height: 50px;
  margin-top: 20px;
  background-color: var(--box-color)
}
h1{
  background: var(--theme-color);
  
}
